.home {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../images/model-1.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  #{&}__name {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);
    &--last {
      color: $secondary-color;
      font-size: 700;
    }
  }
}
